@import "bootstrap/dist/css/bootstrap.min.css";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9fafb;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
